<section>
  <h2>Novidades</h2>
  <div class="card one">
    <div class="capa">
      <img src="assets/tec1.jpg" alt="">
    </div>
    <div class="corpo">
      <h3>Titulo1</h3>
      <p>A expressão Lorem ipsum em design gráfico e editoração é um texto padrão em latim utilizado na produção gráfica para preencher os espaços de texto em publicações para testar e ajustar aspectos visuais antes de utilizar conteúdo real. </p>
    </div>
  </div>
  <div class="card two">
    <div class="capa">
      <img src="assets/tec2.webp" alt="">
    </div>
    <div class="corpo">
      <h3>Titulo1</h3>
      <p>A expressão Lorem ipsum em design gráfico e editoração é um texto padrão em latim utilizado na produção gráfica para preencher os espaços de texto em publicações para testar e ajustar aspectos visuais antes de utilizar conteúdo real. </p>
    </div>
  </div>
  <div class="card three">
    <div class="capa">
      <img src="assets/tec3.jfif" alt="">
    </div>
    <div class="corpo">
      <h3>Titulo1</h3>
      <p>A expressão Lorem ipsum em design gráfico e editoração é um texto padrão em latim utilizado na produção gráfica para preencher os espaços de texto em publicações para testar e ajustar aspectos visuais antes de utilizar conteúdo real. </p>
    </div>
  </div>
  <div class="card four">
    <div class="capa">
      <img src="assets/tec4.jpg" alt="">
    </div>
    <div class="corpo">
      <h3>Titulo1</h3>
      <p>A expressão Lorem ipsum em design gráfico e editoração é um texto padrão em latim utilizado na produção gráfica para preencher os espaços de texto em publicações para testar e ajustar aspectos visuais antes de utilizar conteúdo real. </p>
    </div>
  </div>
  <div class="card five">
    <div class="capa">
      <img src="assets/tec5.jfif" alt="">
    </div>
    <div class="corpo">
      <h3>Titulo1</h3>
      <p>A expressão Lorem ipsum em design gráfico e editoração é um texto padrão em latim utilizado na produção gráfica para preencher os espaços de texto em publicações para testar e ajustar aspectos visuais antes de utilizar conteúdo real. </p>
    </div>
  </div>
  <div class="card six">
    <div class="capa">
      <img src="assets/tec6.jpg" alt="">
    </div>
    <div class="corpo">
      <h3>Titulo1</h3>
      <p>A expressão Lorem ipsum em design gráfico e editoração é um texto padrão em latim utilizado na produção gráfica para preencher os espaços de texto em publicações para testar e ajustar aspectos visuais antes de utilizar conteúdo real. </p>
    </div>
  </div>
</section>
