@import '../../app.component.scss';

footer {
  display: flex;
  font-family: $font;
  font-size: 25px;
  height: 100px;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  color: wheat;
  background-color: $darkColor;
  .logo {
    opacity: 0.8;
  }
  p {
    font-size: 18px;
    opacity: 0.8;
    img {
      vertical-align: middle;
    }
  }
}
