@import '../../app.component.scss';

.container {
  display: flex;
  justify-content: space-between;
  height: 60px;
  border-bottom: 1px solid wheat;
  background-color: $darkColor;
  .logo {
    outline: 0;
    display: flex;
    height: 150px;
    width: 300px;
    justify-content: center;
    transition: 0.5s ease;
    border: none;
    border-radius: 0px 0px 200px 200px;
    box-shadow: 0px 0px 5px rgb(247, 247, 247);
    background-color: $darkColor;
    &:hover{
      color: wheat;
      box-shadow: 0px 2px 20px wheat;
    }
    h1 {
      font-family: "Orbitron", sans-serif;
      font-size: 30px;
      padding-right: 10px;
      justify-self: center;
      text-align: center;
      cursor: pointer;
    }
    @media (max-width: 700px){
      background-color: transparent;
      transition: 1s ease;
    }

  }
  .menu {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  li {
    list-style-type: none;
    a {
      text-decoration: none;
      padding-right: 20px;
      color: rgb(255, 255, 255);
      font-weight: bold;
      font-size: 20px;
      &:hover {
        color: wheat;
      }
      span{
        font-weight: 300;
        font-family: sans-serif;

      }
    }
  }
  @media (max-width: 700px){
    overflow: hidden;
  }
}
