@import '../../app.component.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: $darkColor;
  font-family: $font;
  font-size: 17px;
  height: 55vh;
  margin-top: 40px;
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    width: 700px;
    input{
      padding: 5px;
      outline: 0;
      height: 30px;
    }
    textarea {
      padding: 5px;
      outline: 0;
    }
    button{
      background-color: rgb(159, 245, 173);
      margin-top: 10px;
      height: 30px;
      border: 1px solid #444;
      border-radius: 5px;
      color: black;
      cursor: pointer;
    }
  }
}
