@import '../../app.component.scss';

.container {
  @include box-shadow();
  display: flex;
  justify-content: space-evenly;
  font-family: $font;
  font-size: 20px;
  text-decoration: none;
  background-color: white;
  color: $darkColor;
  align-items: center;
  width: 100vw;
  form {
    display: flex;
    align-items: center;
    input {
      height: 30px;
      width: 200px;
      padding-left: 10px;
      border: none;
      background-color: wheat;
      border-radius: 5px 0px 0px 5px;
      justify-self: flex-start;
      outline: 0;
      color: $darkColor;
    }
    button {
      border: none;
      height: 30px;
      margin-left: 1px;
      border-radius: 0px 5px 5px 0px;
      cursor: pointer;
      img {
        width: 30px;
        justify-self: center;
      }
    }
  }
  height: 60px;
  ul {
    display: inline-flex;
    li {
      list-style-type: none;
      margin-right: 30px;
      cursor: pointer;
      &:hover {
        text-shadow: 0px 4px 10px rgb(253, 208, 125);
      }
    }
  }
}
