/* You can add global styles to this file, and also import other style files */
$text-color: white;
$body-color: rgb(202, 202, 202);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $text-color;
  background-color: $body-color;
}
